/* CSS file */
/*@font-face 
{
	
 	src: url("fonts/Arial.TTF");
	fontFamily: "Arial"; */
	/* unicode-range: */
		/* U+0020-U+0040, */  /*Punctuation, Numbers and Symbols */
		/* U+0041-U+005A, */  /*Upper-Case A-Z */
		/* U+005B-U+0060, */  /*Punctuation and Symbols */
		/* U+0061-U+007A, */  /*Lower-Case a-z */
		/* U+007B-U+007E ; */ /*Punctuation and Symbols */
 /*}*/



/*@font-face 
{
 	src: url("fonts/ArialBD.TTF");
	fontFamily: "Arial";
	font-weight:bold; */
	/* unicode-range: */
		/* U+0020-U+0040, */  /*Punctuation, Numbers and Symbols */
		/* U+0041-U+005A, */  /*Upper-Case A-Z */
		/* U+005B-U+0060,  */ /*Punctuation and Symbols */
		/* U+0061-U+007A, */  /*Lower-Case a-z */
		/* U+007B-U+007E ; */ /*Punctuation and Symbols */
 /*}*/  


Application{
	vertical-gap: 0;
	disabled-color: #BBBBBB;
	disabled-overlay-alpha:0.5;
	theme-color: #ffffff;
	modal-transparency: 0.5;
	modal-transparency-blur:3;
	modal-transparency-color:#000000;
	font-family:Arial;
	font-anti-alias-type:advanced;
	font-size:11;
	color:#333333;
	}
	
VBox.mainView
{
	disabled-color: #efefef;
    vertical-align: top;
	vertical-gap: 20;
	horizontalAlign: left;
	padding-top: 0;
	background-image: Embed(skinClass='mainview_bg');
	background-size:"100%";
	}
	
.viewPanel{
   borderColor: #000000;
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
   backgroundAlpha: 1;
   highlightAlphas: 0, 0;
   headerColors: #000000, #000000;
   titleStyleName: "viewPanelTitle";
}


.contentViewStack{
/*	padding-left:15;
	padding-right:15;

	padding-top:10; */
}

Alert
{
   button-style-name: "alertButtonsStyle";
   borderStyle: solid;
   borderColor: #3e3e3e;
   borderAlpha: 1;
   borderThicknessLeft: 10;
   borderThicknessTop: 0;
   borderThicknessBottom: 20;
   borderThicknessRight: 10;
   roundedBottomCorners: true;
   cornerRadius: 4;
   headerHeight: 30;
   highlightAlphas: 0, 0;
   headerColors: #5e5e5e, #3e3e3e;
   footerColors: #5e5e5e, #3e3e3e;
   backgroundColor: #474747;
   dropShadowEnabled: true;
   shadowDirection: center;
   titleStyleName: "alertTitle";
  } 
  
   .alertButtonsStyle
    
  {
   cornerRadius: 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #ececec, #ffffff, #ececec;
   borderColor: #b7babc;
   border-thickness:1;
   themeColor: #7d7d7d;
   color:#2b2b2b;
   font-size:12;


  }

HBox.formInnerTitle

    {
    border-style:solid;
    border-thickness:2;
    border-sides:bottom;
    border-color:#429eac;	

	}
	

.formInnerTitleText
{
   color: #429eac;
   fontFamily: Arial;
   fontSize: 14;
   fontWeight: bold;
}

  .alertTitle
  {
   color: #ffffff;
   fontFamily: Arial;
   fontSize: 14;
   fontWeight: bold;
  }
    
 TextInput{
	background-disabled-color: #eeeeee;
	disabled-color: #aaaaaa;
   borderStyle: inset;
   borderColor: #b7babc;
    cornerRadius: 0;
	borderThickness: 1;
	focusThickness: 0;
	color:#333333;
} 


TextInput.autoComplete
{
	background-disabled-color: #eeeeee;
	disabled-color: #aaaaaa;
   borderStyle: inset;
   borderColor: #b7babc;
    cornerRadius: 0;
	borderThickness: 1;
	focusThickness: 0;
	color:#333333;
}

TextArea{
	theme-color: #78a3b2;
	borderColor: #b7babc;
	borderStyle: solid;
    cornerRadius: 0;
	borderThickness: 1;
	focusThickness: 0;
	color:#333333;
}

ToolTip {
   cornerRadius: 0;
   paddingLeft: 6;
   paddingRight: 6;
   backgroundColor: #eff0c8;
   color: #333333;
   fontFamily: Arial;
   fontSize: 10;
}


Button {
   cornerRadius: 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #ececec, #ffffff, #ececec;
   borderColor: #b7babc;
   border-thickness:1;
   themeColor: #7d7d7d;
   color:#2b2b2b;
   
   
}

Button.buttonType2{
   cornerRadius: 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #ececec, #ffffff, #ececec;
   borderColor: #b7babc;
   border-thickness:1;
   themeColor: #7d7d7d;
   color:#2b2b2b;
}

/* Button.ButtonType3{
   cornerRadius: 0;
   textIndent: 0;
   paddingTop: 6;
   paddingBottom: 6;
   highlightAlphas: 0.28, 0.09;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #2193bd, #2193bd, #76c7e1, #76c7e1;
   color: #ffffff;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   borderColor: #5d707c;
   themeColor: #5d707c;;
} */


Button.help{
	   up-skin: Embed(skinClass='helpBtn');
	   over-skin: Embed(skinClass='helpBtn_over');
	   down-skin: Embed(skinClass='helpBtn_over');

}


LinkButton{ 
	font-weight:normal;
	skin:ClassReference(null); 
	text-decoration:none;
	color:#009acc;
	disabled-color:#cccccc;
	textRollOverColor: #00c1ff;
   	textSelectedColor: #009acc;
}

Label{ color:#333; 
disabled-color:#888888;
}


CheckBox{
	up-icon: 			Embed('imgs/check_up.png');
	over-icon: 			Embed('imgs/check_over.png');
	down-icon: 			Embed('imgs/check_down.png');
	selected-up-icon: 	Embed('imgs/check_selected.png');
	selected-over-icon: Embed('imgs/check_selected.png');
	selected-down-icon: Embed('imgs/check_selected_down.png');
	disabled-icon: 		Embed('imgs/check_dis.png');
}


ComboBox {
   color: #2b2b2b;
   iconColor: #333333;
   highlightAlphas: 0, 0;
   cornerRadius: 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #ececec, #ffffff, #ececec;
   borderColor: #b7babc;
   themeColor: #7d7d7d;
   selectionColor: #d4e5e8;
   textSelectedColor: #333333;
   rollOverColor: #ddeaed;
   textRollOverColor: #333333;
   dropdownStyleName: "myComboBoxDropDowns";
}

.myComboBoxDropDowns {
   borderColor: #b7babc;
   color: #2b2b2b; 
}

RadioButton{ 
	/*font-weight:bold; */
	up-icon: 			Embed('imgs/radio_up.png');
	over-icon: 			Embed('imgs/radio_over.png');
	down-icon: 			Embed('imgs/radio_down.png');
	selected-up-icon: 	Embed('imgs/radio_selected.png');
	selected-over-icon: Embed('imgs/radio_selected.png');
	selected-down-icon: Embed('imgs/radio_selected_down.png');
	disabled-icon: 		Embed('imgs/radio_dis.png');
}


DateChooser {
   cornerRadius: 2;
   borderThickness: 0;
   horizontalGap: 10;
   headerColors: #334a4e, #38585d;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 0.75, 0.65;
   fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
   todayColor: #e4e4e4;
   rollOverColor: #97cbd9;
   selectionColor: #8badb2;
   color: #333333;
   borderColor: #41676c;
   iconColor: #333333;
   backgroundAlpha: 1;
   themeColor: #97cbd9;
   dropShadowEnabled: true;
   shadowDistance: 0;
   shadowDirection: center; 
   fontFamily: Arial;
   fontWeight: normal;
   headerStyleName: "mydateChooserHeaderStyle";   todayStyleName: "mydateChooserTodayStyle";
	nextYearSkin: Embed(skinClass='DateChooser_nextYearSkin');
	prevYearSkin: Embed(skinClass='DateChooser_prevYearSkin');
}

.mydateChooserHeaderStyle {
   color: #ffffff;
   fontFamily: Arial; 

}

.mydateChooserTodayStyle {
   fontSize: 11;
}


NumericStepper {
   borderColor: #d0d8d8;
   backgroundAlpha: 1;
   background-color:#ffffff;
   corner-radius:0;
   highlightAlphas: 1, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #e2e2e2, #ffffff, #e2e2e2;
   iconColor: #333333;
   color:#333333;
   themeColor: #67989f;
}

DataGrid {
   alternatingItemColors: #ffffff, #f4f4f4;
   headerColors: #ffffff, #e9e9e9;
   verticalGridLineColor: #b7babc;
   borderColor: #b7babc;
   rollOverColor: #e6eff2;
   selectionColor: #d8eaef;
   color: #333333;
   fontFamily: Arial;
   fontSize: 11;
   horizontalGridLines: true;
   horizontalGridLineColor: #ffffff;
   sortArrowSkin: Embed('imgs/sort.png');
   headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
   fontFamily: Arial;
   fontWeight: bold;
   fontSize: 11;
   fontStyle: normal;
   textDecoration: none;
   color: #333333;
}


.dataGridColumnLabel{
	vertical-align:middle;

}


.viewPanelTitle{ color: #ffffff; }

VBox.pageStyle{ /* every page vbox wrapper */
	background-color:#efefef; 
	vertical-gap:0;
	padding-top: 0;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
}


HBox.DataGridActions{
	color: #39819a;
	padding-top: 2;
	padding-bottom: 2;
	padding-left: 4;
	padding-right: 4;
	vertical-align:middle;
	horizontal-align:center;
	border-style: solid;
	border-color:#b7babc;
	border-thickness: 1;
	border-sides: "left,right,bottom";
	/* horizontal-gap: 1; */
	background-image: Embed(skinClass='dataGridActionsBg');
	background-size:"100%";
}

HScrollBar {
   trackColors: #f7f7f7, #f7f7f7;
}


  
VScrollBar {
   cornerRadius: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #f7f7f7, #eeeeee, #f7f7f7, #eeeeee;
   trackColors: #f7f7f7, #eeeeee;
   themeColor: #b7babc;
   borderColor: #aaaaaa;
   iconColor: #333333;
   thumbOffset: 0;
}

HBox.tabsContainer
{
	padding-top: 6;
	padding-bottom: 5;
	border-skin: Embed(skinClass='mainViewBg');
}


HBox.tabsContainer
{
	padding-top: 6;
	padding-bottom: 5;
	padding-right: 15;
	border-skin: Embed(skinClass='mainViewBg');
}

HBox.centerTableColumnHeader
{
	 textAlign: center;	
}


Accordion 
{
   fontWeight: normal;
   borderStyle: solid;
   theme-color:#333333;
   headerStyleName: "myaccordionHeader";
   border-thickness:1;
   border-color:#b7babc;
   headerHeight: 26;
   color:#333333;
}


.myaccordionHeader 
{
   fillColors:  #ffffff, #e9e9e9;
   selected-fill-colors:  #ffffff, #e9e9e9;
   fillAlphas: 1, 1;
   highlightAlphas: 0, 0;
   fontFamily: Arial;
   fontSize: 11;
   color:#333333;

}


ProgressBar {
   barColor: #53adc4;
}

TabBar.tln{
	padding-left:16;
	padding-right:16;
	horizontalGap: 6;
	vertical-gap:0;
	horizontalAlign: left;
    tabStyleName : "tlnTabStyle"; 
    selectedTabTextStyleName: "tlnSelectedTabs";
    linkButtonStyleName: "tlnLinkButton";
}

.tlnLinkButton{ text-selected-color: #ffffff; padding-left:10; padding-right:10; }

.tlnTabStyle{
	padding-top: -2;
	padding-bottom: 0;
	font-size:11;
	color: #333333;
	text-roll-over-color: #000000;
	skin: Embed(skinClass='TabBarButton');
}

.tlnSelectedTabs{ color: #ffffff; text-roll-over-color:white;	font-size:11;}

ViewStack.editor{ background-color: #f7f7f7; }

VBox.noneBg{ background-color: #f7f7f7;	}
.tabBarFirstTab{ }
.tabBarLastTab{ }

Image{
	broken-image-skin: Embed(skinClass='brokenImg');	
}


/*------------------------- 
	Content - general stuff
--------------------------*/
.titleBox{ padding-bottom:5; padding-top:10; }
	.pageTitle{ color:#29464e; font-size:16; font-weight:normal; }

HBox.paging{  /* pagination */
	border-style:solid;
	color: #009acc;
	background-color: #ffffff;
	border-color:#b7babc;
	border-sides: "left,right,bottom";
	vertical-align:middle;
	horizontal-align:center;
	font-size:11;
	padding-top:2;
	padding-bottom:2;
	background-image: Embed(skinClass='dataGridActionsBg');
	background-size:"100%";
}



.toolBar{  /* bottom buttons bar */
	horizontal-align:center;
	horizontal-gap: 40;
	padding-top:10;
	
}



.boldLabel{ font-weight:bold; }

.markedLabel{ background-image: Embed(skinClass='icon_v'); }

 /* POPUPS */
   TitleWindow.TitleWindowType2{
		padding-top:10; padding-right:10; padding-bottom:10; padding-left:10;
		borderColor: #ffffff;
		background-color:#ffffff;
		borderAlpha: 1;
		borderThicknessTop: 2; borderThicknessRight: 0; borderThicknessBottom: 0; borderThicknessLeft: 1;
		roundedBottomCorners: true;
		horizontal-gap:0;
		highlightAlphas: 0, 0;
  		headerColors: #676969, #474848;
		footerColors: #efefef;
		dropShadowEnabled: true; shadowDistance: 0; shadowDirection: center;
		titleStyleName: "titleWindowTitleKMC";
	   close-button-up-skin: Embed(skinClass='closeBtn_up');
	   close-button-over-skin: Embed(skinClass='closeBtn_over');
	   close-button-down-skin: Embed(skinClass='closeBtn_down');
	   close-button-disabled-skin: Embed(skinClass='closeBtn_disabled'); 

	}
	


HBox.topPanelControls
{
	padding-bottom: 5;
	padding-left: 5;
	padding-right: 5;
	padding-top: 5;	
}

/* The vbox that holds a structure of table, pager and action buttons-bar */
VBox.entriesTablePagerAndButtonsVbox
{
	vertical-gap: 0;
	background-color:#efefef;
}  
/*------------------------- 
	Content - entries
--------------------------*/
/* style for the vbox that holds section of fields in the drilldown */
VBox.lineGap
{ 
		vertical-gap:0;
}

/*------------------------------------------
	Content - drill down entries  screen 
--------------------------------------------*/
/*The style for the entry drill dowm main container */

.captureThumbnailCanvas
{

border-skin:Embed(skinClass='capture_tooltip');

}

.thumbMessageCloseBtn
{
	padding-top:6;
	padding-right:6;
   up-skin: Embed(skinClass='tooltip_close_up');
   over-skin: Embed(skinClass='tooltip_close_over');
   down-skin: Embed(skinClass='tooltip_close_up');
   
}

.thumbnailMessageText
{
	padding-left: 20;
	padding-right: 16 ;
	padding-top:26;
	padding-bottom:6;
    color:#333333;
}

ViewStack.sectionViewStack
{
	border-color:#ff0000;
	border-style:solid;
	background-color:#f7f7f7;
	background-alpha:1;
	padding-top:18;
	padding-right:18px;
	padding-bottom:18px;
	padding-left:18px;
	vertical-gap:20;
	border-style:solid;
	border-thickness: 0;
	corner-radius:0;
}



/* Label style in the drill down window*/

Label.drillDownLabel
{
	color:#333333;
	font-weight:bold;
}

/* Title label style in the drill down window*/
Label.drillDownTitleLabel
{
	color:#333333;
	background-color:#e6e6e6;
	font-size:14;
	font-weight:bold;
}

	/* -- MetaData Tab-- */
HBox.metaDataHbox
{
	
}
    /* -- Content Tab-- */
VBox.contentVbox
{
	vertical-gap: 0;
}

/* -- Access Control Tab-- */
VBox.accessControlVbox
{
	horizontal-align: left;
	vertical-align: top;
}

/* -- Scheduling Tab-- */
VBox.schedulingVbox
{
	paddingBottom: 5; 
	
	paddingRight: 5;
}

/* -- Video Files Tab-- */
VBox.flavorsVbox
{
	
}

/*------------------------- 
	Content - moderation
--------------------------*/
HBox.moderationHBox{ horizontal-gap:0; padding-top:10; }

VBox.filter{ padding-top:0; }

LinkButton.openCloseBtnOpen{ /* more filters button */
	icon:Embed(skinClass='icon_more_open');
	padding-top:1;
}

LinkButton.openCloseBtnClose{ /* more filters button */
	icon:Embed(skinClass='icon_more_close');
	padding-top:1;
}


/* Moderation  -  right side panel, holds the kdp  and ben-user details*/
	Panel.modPrev{
		borderColor: #b7babc;
		borderAlpha: 1;
		borderThickness: 1;
		border-style: solid;
		border-sides: "top bottom right";
		padding-top: 5;
		padding-right: 20;
		padding-bottom: 5;
		padding-left: 10;
		borderThicknessLeft: 0;
		borderThicknessTop: 0;
		borderThicknessBottom: 0;
		borderThicknessRight: 0;
		cornerRadius: 0;
		headerHeight: 23;
		backgroundAlpha: 1;
		highlightAlphas: 0, 0;
		headerColors: #ffffff , #e9e9e9;
		backgroundColor: #ffffff;
		dropShadowEnabled: false;
		titleStyleName: "modPrevTitle";
	}


	Panel.modPrev2{
		borderColor: #b7babc;
		borderThickness: 1;
		border-style: solid;
		padding-top: 5;
		padding-right: 0;
		padding-bottom: 5;
		padding-left: 10;
		borderThicknessLeft: 0;
		borderThicknessTop: 0;
		borderThicknessBottom: 0;
		borderThicknessRight: 0;
		cornerRadius: 0;
		headerHeight: 23;
		backgroundAlpha: 1;
		highlightAlphas: 0, 0;
		headerColors: #c4d9e1, #c4d9e1;
		backgroundColor: #f7f7f7;
		dropShadowEnabled: false;
		titleStyleName: "modPrevTitle";
	}

		.modPrevTitle {
		   color: #333333;
		   font-weight:bold;
		   fontSize: 11;
		}
		
		.modPrevToolBar{  }
		

		.grayBox{
			borderStyle: applicationControlBar;
			fillColors: #e2e2e2, #e2e2e2;
			fillAlphas: 1, 0.9;
			highlightAlphas: 0, 0;
			corner-radius:0;
			padding-top:7;
		}
		
			.flagList{
				backgroundAlpha: 0;
				border-thickness:0;
		  	 	borderStyle: none;
			}
				
				HBox.modItemTop{  }
				
				Text.modItemText{  }
			
				Button.flagSkin{  }
			
			.banUser{ icon:Embed(skinClass='icon_blockUser'); label-placement:left; }  /* ban user linkButton */



/*------------------------- 
	Popup window
--------------------------*/



TitleWindow.WinTitleStyle{
   background-image: Embed(skinClass='grad_bg_1');
   background-size:'100%';
   borderColor: #FFFFFF;
   borderAlpha: 1;
   padding-top:22;
   padding-right:0;
   padding-bottom:0;
   padding-left:0;
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 6;
   borderThicknessRight: 0;
   roundedBottomCorners: true;
   horizontal-gap:0;
   highlightAlphas: 0, 0;
   headerColors: #636464, #474848;
   footerColors: #FFFFFF;
   dropShadowEnabled: true;
   shadowDistance: 0;
   shadowDirection: center;
   titleStyleName: "titleWindowTitleKMC";
   close-button-up-skin: Embed(skinClass='closeBtn_up');
   close-button-over-skin: Embed(skinClass='closeBtn_over');
   close-button-down-skin: Embed(skinClass='closeBtn_down');
   close-button-disabled-skin: Embed(skinClass='closeBtn_disabled');
   cornerRadius: 6; 
}


.titleWindowTitleKMC{
	color: #eeeeee;
	font-anti-alias-type:advanced;
	font-sharpness:50;
	fontSize: 16;
	font-weight:bold
}

ControlBar{ 
	horizontal-align:center; 
	horizontal-gap: 0; 
	border-color: #cfd7d7;
	border-style:solid;
	border-sides:"top";
	border-thickness:1; 
}
	
/*------------------------- 
	Account - Charts
--------------------------*/

Panel.chartPanel
{
	drop-shadow-enabled: false;
}

/*------------------------- 
	Account - Charts
--------------------------*/

/* Panel.chartPanel
{
	drop-shadow-enabled: false;
}

LineChart{
	color:#2f3738;	
} 

ColumnChart{
	stroke-color:#9ab40c;
	
	
}

LineSeries {

	stroke-color:#ff0000;
	stroke-width:20;
	
	
    }
   
*/
.pageTitle2{
	color:#2f3738;
	font-size:20;
	font-family:ArialEmbedded;
	font-weight: bold;
} 

.pageTitle3
{
	color:#2f3738;	
	font-size:14;
	font-family:ArialEmbedded;
}

/*------------------------- 
	Content - Playlist
--------------------------*/

/** The style for the search and filter in the Publish tab
    For the search box look at searchHBox style and for the filter box look at upperDatesVBox**/
VBox.publishSearchAndFilterBox
{
	background-color:#ffffff;
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
	border-color:#b7babc;
    border-style:solid;
    border-thickness-bottom:1;
    border-thickness-left:1;
    border-thickness-right:1;
    border-thickness-top:1;
	font-size:11;
	font-weight:bold;
	
}

HBox.plstBtnCont{
	
	padding-top:6;
	padding-bottom:15;

}

VBox.staticPlaylistCont{
	padding-right: 20;	
}

/** Style for labels in form pages**/
Label.formLabel
{
	font-size: 11;
	font-weight: bold;
}
/** Style for titles in form pages**/
Label.formSubTitleLabel
{
	font-weight: bold;
	font-size: 12;
}

/** hold the box of the add/remove button in the Manual Playlist pop-up window
	buttons styles: removeLeftBtn, addRightBtn
**/
HBox.plstAddRemoveCont
{
	vertical-align:middle;
	horizontal-gap: 0;
}

/** hold the box of the up/down button in the Manual Playlist pop-up window
	buttons styles: movUpBtn, movDownBtn 
**/
VBox.upDownButtonsBox
{
	horizontal-align:middle;
	vertical-gap: 0;
}

/** The box that hold the buttons for actions near a table(addXXX, CreateXXX and so on)**/
VBox.listActionsBox
{
	padding-bottom: 2;
	padding-top: 40;
	padding-left: 24;
	padding-right: 24;
	border-style: solid;
	border-thickness: 1;
	border-color:#b7babc;
	background-image:Embed(skinClass='bluebox_grad_bg');
	background-size:"100%";	
}
/** The button uses for action near a table(addXXX, CreateXXX and so on) **/


Button.listActionButton
{
   cornerRadius: 0;
   textIndent: 0;
   paddingTop: 5;
   paddingBottom: 5;
   highlightAlphas: 0.28, 0.09;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #5b94a7, #38a8cd, #8fcbdd, #69c3de;
   color: #ffffff;
   textRollOverColor: #ffffff;
   textSelectedColor: #0c616e;
   borderColor: #5d707c;
   themeColor: #10a0cf;
}

List {
   rollOverColor: #ddeaed;
   textRollOverColor: #333333;
   borderColor: #d8d8d8;
   selectionColor: #d4e5e8;
}

Button.addPlst
{
   cornerRadius: 0;
   textIndent: 0;
   paddingTop: 6;
   paddingBottom: 6;
   highlightAlphas: 0.28, 0.09;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #2193bd, #2193bd, #76c7e1, #76c7e1;
   color: #ffffff;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   borderColor: #5d707c;
   themeColor: #5d707c;
}

	/* Add Playlist */
	.plstBoxCont{
		border-color:#ff0000;
		border-style:solid;
		background-color:#f7f7f7;
		background-alpha:1;
		padding-top:18px;
		padding-right:18px;
		padding-bottom:18px;
		padding-left:18px;
		vertical-gap:20;
		border-style:solid;
		border-thickness: 0;
		corner-radius:0;
	}
	
	.borderedDataGrid{
		borderColor: #e4e4e4;
		border-style:solid;
		border-thickness:1;
	}
	
	HBox.reorderBtnCont{   /* buttons bottom right table containerr  */
		horizontal-align: center;
		padding-top:0;
	} 
	
	Button.movUpBtn{  
		padding-top:7;
		padding-bottom:7;
		skin: Embed(skinClass='btn_t');
	}
	
	
	Button.movDownBtn{
		padding-top:7;
		padding-bottom:7;
		skin: Embed(skinClass='btn_d');

	}
	
	Button.addRightBtn{
		padding-top:10;
		padding-bottom:10;
		skin: Embed(skinClass='btn_r');

	}

	Button.removeLeftBtn{
		padding-top:10;
		padding-bottom:10;
		skin: Embed(skinClass='btn_l');

	}
	
	
	
	VBox.plstIRToolbar{ /*buttons tool bar of the item renderer */
		vertical-gap: 10;

	}
	
	
	HBox.plstIR{
		border-style:solid;
		border-thickness: 2;
		border-alpha: 1;
		background-color: #f7f7f7;
	}
	
	List.dynPlst{ background-alpha: 0; border-style:none; }
	
	HBox.plstContentDtlsCont{ horizontal-align: "right"; vertical-gap: 0; }
	
	/* Accordion.accordionList
	{
		border-style:none;
		border-thickness:0;
		background-alpha: 0;
		roll-over-color: #f7f7f7;
		selection-color: #f7f7f7;
	}
	
	Accordion.accordiContainer
	{
		border-style:none;
		border-thickness:0;
		border-color: #cfd7d7;
		paddingLeft:5; 
		paddingRight:5; 
   fill-colors:#ececec, #e0e0e0,#ececec, #e0e0e0;
	} */
		
/*------------------------- 
	Content - bulk upload 
--------------------------*/
	VBox.bulk{
		background-color:#f4f4f5;
		vertical-gap: 0;
	}
	
	HBox.bulkHBox{ horizontal-gap:0; padding-top:10; padding-left:16; padding-right:16; }
	
	VBox.blueBoxContainer{
		background-alpha:1;
		padding-top:20px;
		padding-bottom:20px;
		border-style:solid;
		border-thickness: 0;
		corner-radius:0;
	}
	
	VBox.blueBox{
		padding-top:10px;
		padding-right:10px;
		padding-bottom:10px;
		padding-left:10px;
		border-color: #cfd7d7;
		border-thickness: 1;
		border-style: solid;
		background-image:Embed(skinClass='bluebox_grad_bg');
		background-size:"100%";
	}
	
	.blueBoxTitle{
		font-weight:bold;
		font-size:14;
		color:#4a7f92;
	}
	
	VBox.vGapBox{
		vertical-gap:0;
	}
	
	HBox.centerHBox{ horizontal-align:center; }
	HBox.bulkApplyBtnBox{ horizontal-align:center; }
	
	/* settings popup */
	TitleWindow.bulkSettingsTitleWindow{
	   borderColor: #ffffff;
	   borderAlpha: 1;
	   padding-top:0;
	   padding-right:0;
	   padding-bottom:0;
	   padding-left:0;
	   borderThicknessLeft: 1;
	   borderThicknessTop: 2;
	   borderThicknessBottom: 0;
	   borderThicknessRight: 0;
	   roundedBottomCorners: true;
	   horizontal-gap:0;
	   highlightAlphas: 0.33, 0;
	   headerColors: #ffffff, #ebebeb;
	   footerColors: #FFFFFF;
	   dropShadowEnabled: true;
	   shadowDistance: 0;
	   shadowDirection: center;
	   titleStyleName: "titleWindowTitle";
	   close-button-up-skin: Embed(skinClass='closeBtn_up');
	   close-button-over-skin: Embed(skinClass='closeBtn_over');
	   close-button-down-skin: Embed(skinClass='closeBtn_down');
	   close-button-disabled-skin: Embed(skinClass='closeBtn_disabled'); 
	}
	
	.bulkSettingsContainer{
		padding-top:12;
		padding-right:12;
		padding-bottom:12;
		padding-left:12; 
	}
	

	
	Button.dtnButton{
		text-align:left;
		skin: ClassReference(null);
		color:#a4dae0;
		text-selected-color:#ffffff;
		text-roll-over-color:#cfe7ef;

	}
	
	.selectedDtnBtn{
		text-align:left;
		skin: ClassReference(null);
		color:#ffffff;
		text-selected-color:#ffffff;
		text-roll-over-color:#ffffff; 
	}
	

	
	/* left side navigation */
	VBox.dtnStyle{
		vertical-gap:12;
		padding-left:20;
		padding-top:0;
	}
	
	 Button.dtnBtn
	 {
		  skin: ClassReference(null);
		  color:#009acc;
		  text-roll-over-color:#009acc;
		  text-selected-color:#009acc;
		  text-align:left;
		  padding-left:8;
		  font-weight:bold;
		  font-size:12;
 	}
 	
 	   Button.dtnSelectedBtn {
		  skin:Embed(skinClass='dtnBtn');
		  color:#2b2b2b;
		  text-roll-over-color:#2b2b2b;
		  text-selected-color:#2b2b2b;
		  text-align:left;
		  padding-left: 8;
		  font-weight:bold;
		  font-size:12;
 }
 
	
	Button.openPreview
	{
		skin:Embed(skinClass='ico_close_preview');		
	}
	
	Button.closePreview
	{
		skin:Embed(skinClass='ico_open_preview');	
	}

.dtnHRule

{
      strokeColor: #525656;
/*       shadowColor: #525454; */
      strokeWidth: 1;
   
	
}


/*------------------------- 
	Account - Usage
--------------------------*/
Button.lineChartIcon
{
	skin: Embed('imgs/lineChart.png');
}

Button.barChartIcon
{
	skin: Embed('imgs/barChart.png');
}


/*--------------------------
	Filter section styling
----------------------------*/


HBox.accordionHeader
{
   fontFamily: Arial;
   fontWeight: normal;
   fontSize: 11;
   fontStyle: normal;
   textDecoration: none;
}

/** VBox that holds the Categories Tree **/
VBox.categoriesTreeVBox
{
    fontSize: 11;
	background-color:#ffffff;

}


/** Categories Tree style **/
Tree.categoriesTree
{
   folder-closed-icon:		ClassReference(null); 
   folder-open-icon:		ClassReference(null); 
   disclosure-closed-icon:	Embed("imgs/folder_close.png");
   disclosure-open-icon:	Embed("imgs/folder_open.png");
   backgroundAlpha: 1;
   backgroundColor: #ffffff;
   depthColors: #ffffff, #ffffff, #ffffff, #ffffff;
   useRollOver: true;
   rollOverColor: #eef4f5;
   borderStyle: none;
   selectionColor: #eef4f5;
   indentation: 16;
   dropShadowEnabled: false;
   shadowDirection: right;
   fontWeight: normal;
   textIndent: 8;
	padding-left: 8;
	padding-right: 8;
}

/** HBox that holds the button (-) & (X) in each tree node on edit mode **/
HBox.treeItemButtonsHBox
{
	horizontal-gap: 2;
    padding-left:14;
    font-weight: normal;

}



/** The (+) button in the tree node at edit mode**/
LinkButton.addLinkButton
{

	up-skin: Embed('imgs/ico_filter_add.png');
	over-skin: Embed('imgs/ico_filter_add_over.png');
	down-skin: Embed('imgs/ico_filter_add.png');
	background-size: 100;
}



/** The (X) button in the tree node at edit mode**/
LinkButton.deleteLinkButton
{

	up-skin: Embed('imgs/ico_filter_remove.png');
	over-skin: Embed('imgs/ico_filter_remove_over.png');
	down-skin: Embed('imgs/ico_filter_remove.png');
	background-size: 100;
	
}

/** VBox that holds the other filters options **/
VBox.additinalFilterVBox
{

}

/** HBox that holds the filters title and the expend button **/
HBox.filtersHeadTitleHBox
{


}

/** style for the filter section title label **/
Label.filterTitleHeader
{
	font-size:16;
	font-weight:bold;
	color:#2b2b2b;
	
}

/** style for the expendable button - near the filters title **/
LinkButton.expendableButton

{
	vertical-align:top;
	padding-top:0;
	font-size:16;
	font-weight:bold;
	color:#2b2b2b;
	font-style:normal;
	text-decoration:none;
	text-roll-over-color:#333333;
	text-selected-color:#333333;

}
/** style for the expendable button filter - near the filters title **/
.filtered
{
	vertical-align:top;
	padding-top:0;
	font-size:16;
	font-weight:bold;
	color:#C81D2F;
	font-style:normal;
	text-decoration:none;

}


/** HBox that holds the free text search option **/
HBox.searchHBox
{
	horizontal-gap: 0;
	vertical-gap:0;
}

/** style for the search text input **/
TextInput.searchTextInput
{
   borderStyle: inset;
   borderColor: #b7babc;
   padding-right:2;
   padding-left:2;
	focusAlpha: 0;
	focusThickness: 0;
	color:#333333;
	font-size:11;

}
/** style for the search button **/
Button.searchButton
{
    skin: Embed('imgs/btn_search.png'); 
}


/** VBox that holds the upper dates filter **/
VBox.upperDatesVBox
{
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
	border-color:#b7babc;
    border-style:solid;
    border-thickness-bottom:1;
    border-thickness-left:1;
    border-thickness-right:1;
    border-thickness-top:1;
    border-sides:bottom;
	font-size:11;
	font-weight:bold;
	    
}
/** inner HBox that holds the upper dates filter **/
HBox.innerUpperDatesHBox
{
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	
}
/** stylr for the clear dates button **/
LinkButton.clearDateButton
{
	font-weight:normal;
	font-size:11;
	skin:ClassReference(null);
	text-decoration:underline;
	color:#009acc;
	textRollOverColor: #009acc;
   	textSelectedColor: #009acc;
    disabled-color: #aadaea;
    text-align:left;
    paddingLeft: 0;
}

/** VBox that holds the media types filter **/
VBox.typesVBox
{

	vertical-gap: 0;
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
    border-color:#b7babc;
    border-style:none;
    border-thickness-bottom:0;
    border-thickness-left:0;
    border-thickness-right:0;
    border-thickness-top:0;
    border-sides:bottom;

}

/** VBox that holds the moderation types filter **/
VBox.moderationVBox
{
	vertical-gap: 0;
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
    border-color:#b7babc;
    border-style:none;
    border-thickness-bottom:0;
    border-thickness-left:0;
    border-thickness-right:0;
    border-thickness-top:0;
    border-sides:bottom;

}

/** VBox that holds the duration types filter **/
VBox.durationVBox
{

	vertical-gap: 0;
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
    border-color:#b7babc;
    border-style:none;
    border-thickness-bottom:0;
    border-thickness-left:0;
    border-thickness-right:0;
    border-thickness-top:0;
    border-sides:bottom;

}


/** VBox that holds the Transcoding Flavors types filter **/
VBox.transcodingFlavorVBox
{
	vertical-gap: 0;
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
    border-color:#b7babc;
    border-style:none;
    border-thickness-bottom:0;
    border-thickness-left:0;
    border-thickness-right:0;
    border-thickness-top:0;
    border-sides:bottom;

}

/** VBox that holds the Access Control types filter **/
VBox.accessControlVBox
{

	vertical-gap: 0;
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
    border-color:#b7babc;
    border-style:none;
    border-thickness-bottom:0;
    border-thickness-left:0;
    border-thickness-right:0;
    border-thickness-top:0;
    border-sides:bottom;

}


/** VBox that holds the bottom Scheduling types  **/
VBox.bottomSchedulingVBox
{
	vertical-gap: 0;
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
    border-color:#b7babc;
    border-style:none;
    border-thickness-bottom:0;
    border-thickness-left:0;
    border-thickness-right:0;
    border-thickness-top:0;
    border-sides:bottom;

}

/** HBox that holds the bottom dates filter **/
HBox.bottomDatesHbox
{

	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
    border-color:#b7babc;
    border-style:none;
    border-thickness-bottom:0;
    border-thickness-left:0;
    border-thickness-right:0;
    border-thickness-top:0;
    border-sides:bottom;
}

/** style for the head button of a group in the filter **/
Button.mainFilterGroupButton
{
	cornerRadius: 0;
	textAlign: left;
	paddingLeft: 0;
	font-weight: bold;
	upSkin: Embed(skinClass='transparentButton');
	downSkin: Embed(skinClass='transparentButton');
	over-skin: Embed(skinClass='filterOverSkin');
	disabledSkin: Embed(skinClass='transparentButton');
	selectedDisabledSkin: Embed(skinClass='transparentButton');
	selected-up-skin: Embed(skinClass='filterSelectedSkin');
	selected-over-skin: Embed(skinClass='filterOverSkin');
	selected-down-skin: Embed(skinClass='filterSelectedSkin');
}

/** style for inner button in a group in the filter **/
Button.innerFilterGroupButton {
    cornerRadius: 0;
	textAlign: left;
	font-weight: normal;
	paddingLeft: 20;
	upSkin: Embed(skinClass='transparentButton');
	downSkin: Embed(skinClass='transparentButton');
	over-skin: Embed(skinClass='filterOverSkin');
	disabledSkin: Embed(skinClass='transparentButton');
	selectedDisabledSkin: Embed(skinClass='transparentButton');
	selected-up-skin: Embed(skinClass='filterSelectedSkin');
	selected-over-skin: Embed(skinClass='filterOverSkin');
	selected-down-skin: Embed(skinClass='filterSelectedSkin');

}


/*----------------------------------------------- 
	Content - Access Control Profile (acp) PopUp
-------------------------------------------------*/

	

	/* settings for Add New Domain Name popup */
	TitleWindow.addNewDomainTitleWindow{
		
	}
	
	/* settings for Remove Domain Name popup */
	TitleWindow.removeDomainTitleWindow{
		
	}
	
	/* settings for Add/Remove Countries popup */
	TitleWindow.addRemoveCountriesTitleWindow{
		
	}

	/* settings for Access Control New/Edit Profile popup */
	TitleWindow.accessControlProfileTitleWindow{
	   borderColor: #ffffff;
	   borderAlpha: 1;
	   padding-top:20;
	   padding-right:4;
	   padding-bottom:20;
	   padding-left:20;
	   borderThicknessLeft: 1;
	   borderThicknessTop: 2;
	   borderThicknessBottom: 0;
	   borderThicknessRight: 0;
	   roundedBottomCorners: true;
	   horizontal-gap:0;
	   highlightAlphas: 0.33, 0;
	   headerColors: #f5f5f5, #e4e4e4;
	   footerColors: #FFFFFF;
	   background-color:#f7f7f7;
       backgroundAlpha: 1;
	   dropShadowEnabled: true;
	   shadowDistance: 0;
	   shadowDirection: center;
	   titleStyleName: "titleWindowTitle";
	   close-button-up-skin: Embed(skinClass='closeBtn_up');
	   close-button-over-skin: Embed(skinClass='closeBtn_over');
	   close-button-down-skin: Embed(skinClass='closeBtn_down');
	   close-button-disabled-skin: Embed(skinClass='closeBtn_disabled'); 
	}
	
	/** The main container that holds all the sections**/
	VBox.acpPopUpMainVBox
	{
		padding-top: 10;
	}
	
	/** The box that holds a section in the ACP pop-up **/
	VBox.acpPopUpSectionBox
	{
		padding-right: 10;
	}
	
	/** The box that holds that title of the section in the ACP pop-up **/
	VBox.acpPopUpTitleBox
	{
		background-color: #e6e6e6;
		padding-left:18;
		padding-right:18;
		font-size:11;
		font-weight:bold;
		color:#2b2b2b;
		padding-top:2;
	
	}
	
	/** The big section title label **/
	Label.acpPopUpTitleLabel
	{
		font-size: 12;
		font-weight:bold;
	}
	
	/** The small section title label **/
	Label.acpPopUpSmallTitleLabel
	{
		font-size: 10;
		font-weight: normal;
	}
	
	/** The container for the table and pager in the ACP main screen **/
	VBox.tableAndPagerContainerStyle
	{
		vertical-gap: 0;
	    background-color:#efefef;
	}
	
	VBox.mainACPvBox
	{
		background-color:#ffffff;
	}
	
	/** style for the hbox that holds table, pager and buttonBar box in the ACP main screen**/
	HBox.tablePagerAndButtonsBarBox
	{
	    background-color:#efefef;
	    
	}
	
	/** style for the vbox that holds the buttonBar in the ACP main screen**/
	VBox.buttonsBarBox
	{
		background-color:#ffffff;
	}

	/** The boxes that holds the titles for each section**/
	HBox.titleBox
	{
		background-color:#ffffff;
	}
	/** The big titles for each section**/
	Label.titleLabel
	{
		font-size: 14;
	}
	/** The small titles for each section**/
	Label.smallTitleLabel
	{
		font-size: 10;
	}
	
	/** All Radio Buttons in ACP**/
	RadioButton.acpRadioButton
	{
		
	}
	
	/** All Link Buttons in ACP**/
	LinkButton.acpLinkButton
	{
		
	}
	
	/** All Check Buttons in ACP**/
	CheckBox.acpCheckButton
	{
		
	}
	
	/** All Text fields in ACP**/
	Text.acpText
	{
		
	}
	
	/** Time selector in the ACP **/
	.timeEntry
	{
   borderColor: #d0d8d8;
   backgroundAlpha: 1;
   background-color:#ffffff;
   corner-radius:0;
   highlightAlphas: 1, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #e2e2e2, #ffffff, #e2e2e2;
   iconColor: #333333;
   color:#333333;
   themeColor: #67989f;
   border:#b7babc;
   border-style:solid;
   border-thickness:1;
	}

/*----------------------------------------------- 
	Syndication 
-------------------------------------------------*/

    .noteBackground
    {
        background-color:#fdfdf0;
        padding-top:12;
        padding-right:12;
        padding-left:12;
        padding-bottom:6;  
        border-thickness:1;
        border-style:solid;
        border-color:#bebfac;  
    }

	/** VBox of all syndications  **/
	VBox.confirmationVboxes
	{
        padding-top:12;
        padding-right:12;
        padding-left:12;
        padding-bottom:6;
	}

	/** The box above the main table in the syndication **/
	HBox.featureDescriptionTitleBox
	{
		vertical-gap: 12;
		
	}
	/** The text above the main table in the syndication **/
	Text.featureDescriptionTitleText
	{
		font-size:11;
		font-weight:bold;
		color:#333333;
		padding-bottom:10;	
		padding-top:10;
	}
	
	
	/** The box above the main table that holds a text line and link button **/
	HBox.lineWithLinkBox
	{
		horizontal-gap: 0;
		vertical-align: middle;
		horizontal-align: left;
		font-size: 12;
	}
	/** Style for the Name cell in the Syndication table**/
	HBox.colNameBox
	{
		vertical-align: middle;
		background-color: #FF00DD;
		font-size: 24;
	}
	/** Style for the Feed Url text cell in the Syndication table**/
	Text.feedUrlTextStyle
	{
		borderStyle: inset;
		border-thickness:1;
		border-color:#b7babc;
		color: #009acc;
			
	}

	   /** Style for the labels of all params in all feed types **/
   
   
	Label.feedParamLabel
	{
		font-weight:bold;
	}
		
/** LIVE STREAM  **/
HBox.url1
{
 	border-skin: Embed('imgs/url.png');
}
HBox.url2
{
 	border-skin: Embed('imgs/url2.png');
}
HBox.url3
{
 	border-skin: Embed('imgs/url3.png');
}
Canvas.o1
{
	background-image: Embed('imgs/url3.png');
}

/*----------------------------------------------- 
Custom Data 
-------------------------------------------------*/

Label.metadataFormLabel
{
	font-size: 11;
	font-weight: bold;
	text-align:left;
}

TextInput.dynamicTextInput
{

}

TextArea.dynamicTextArea
{
	
}

DateChooser.dynamicDateChooser
{
	
}

ComboBox.dynamicComboBox
{
	
}

CheckBox.dynamicCheckBox
{
	
}

LinkButton.linkeEntriesButton
{
	icon: Embed(skinClass='icon_plus');
}

LinkButton.multiComponentAddButton
{
	icon: Embed(skinClass='icon_plus');	
}

LinkButton.multiRemoveButton
{
	icon: Embed(skinClass='removeIco');	
}
