/* CSS file */
@font-face 
{
	src: url("fonts/ARIAL.TTF");
	fontFamily: "ArialEmbedded";
	unicode-range:
		U+0020-U+0040,  /*Punctuation, Numbers and Symbols */
		U+0041-U+005A,  /*Upper-Case A-Z */
		U+005B-U+0060,  /*Punctuation and Symbols */
		U+0061-U+007A,  /*Lower-Case a-z */
		U+007B-U+007E ; /*Punctuation and Symbols */
}

@font-face 
{
	src: url("fonts/ARIALBD.TTF");
	fontFamily: "ArialEmbedded";
	font-weight:bold;
	unicode-range:
		U+0020-U+0040,  /*Punctuation, Numbers and Symbols */
		U+0041-U+005A,  /*Upper-Case A-Z */
		U+005B-U+0060,  /*Punctuation and Symbols */
		U+0061-U+007A,  /*Lower-Case a-z */
		U+007B-U+007E ; /*Punctuation and Symbols */
}  

Application{
	vertical-gap: 0;
	disabled-overlay-alpha:0;
	theme-color: #ffffff;
	modal-transparency: 0.5;
	modal-transparency-blur:3;
	modal-transparency-color:#000000;
	font-family:Arial;
	font-anti-alias-type:advanced;
	font-size:11;
	color:#333333;
}

VBox,HBox
{
	disabled-overlay-alpha: 0;	
}

.viewPanel{
	borderColor: #000000;
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	backgroundAlpha: 1;
	highlightAlphas: 0, 0;
	headerColors: #000000, #000000;
	titleStyleName: "viewPanelTitle";
}